@font-face {
 font-family: 'NanumBarunGothic';
 font-style: normal;
 font-weight: 400;
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

textarea {
    font-family: 'NanumBarunGothic';
    width:100%;
    min-height: 7rem;
    overflow-y: hidden;
    resize: none;
    font-size:1.5vmax;
}

span {
    font-family: 'NanumBarunGothic';
    font-size:2vmax;
    white-space:nowrap;
}

h6 {
    font-size:0.5vmax;
}